@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans:ital,wght@1,700&family=Roboto+Mono:ital,wght@1,200&family=Roboto:ital,wght@1,100&family=Titillium+Web:wght@300&display=swap');
body
{
    background-color: rgba(0, 0, 0, 0.171);
    font-family: 'Titillium Web', sans-serif;

}
.contenaire
{
    width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    background-color: #9e9e9e6c;
    box-shadow: 3px 1px 16px 6px rgba(0,0,0,0.34);
}
.image
{
    border-right: 1px solid black;
    
}
.image > img
{
    width: 350px;

}
.info
{
    margin-left: 10px;
    margin-bottom: 20px;
}
.description
{
    position: relative;
}
.description > h1
{
    font-family: 'Titillium Web', sans-serif;
}
.description > p
{
    margin-top: -25px;
    color: rgba(255, 255, 255, 0.664);
}
.description > button
{
    position: absolute;
    top: 14px;
    left: 250px;
    background-color:#d0cabe;
    outline: none;
    border: none;
    color: white;
    padding: 5px 10px;
}
.description2 > h2
{
    font-size: 20px;
    font-weight: 300;
    position: relative;
}
.description2 > h2::before
{
    content: "";
    position: absolute;
    width: 28%;
    height: 2px;
    bottom: 0px;
    left: -2px;
    background-color: black;
}
.description2 > p
{
    color: rgba(255, 255, 255, 0.664);
    margin-top: -10px;
}
.size > div 
{
    margin-top: -25px;
    display: flex;
    /* border: 1px solid black; */
    width: 300px;
    margin-left: 20px;
    /* justify-content: space-between; */
}
.size > div > p
{
    color: rgba(255, 255, 255, 0.664);
    border: 1px solid rgba(255, 255, 255, 0.664);
    padding: 10px 20px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.size > div > p:hover
{
    color: black;
    border: 1px solid black;
    transform: scale(1.1);
}
.color > div
{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.color1
{
    width: 30px;
    height: 30px;
    background-color: blue;
    border: 1px solid white;
    border-radius: 50%;
}
.color2
{
    width: 30px;
    height: 30px;
    background-color: rgb(3, 3, 3);
    border: 1px solid white;
    border-radius: 50%;
}
.color3
{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 253, 253);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}
.co
{
    transition: all 0.3s ease-in-out;
}
.co:hover
{
    transform: scale(1.1);
    border: none;
}
.button
{
    width: 400px;
    padding: 20px;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
}
.button > .a1
{
    text-decoration: none;
    color: black;
    border: black 1px solid;
    padding: 10px 50px;
}
.button > .a2
{
    text-decoration: none;
    color: rgb(248, 248, 248);
    /* border: black 1px solid; */
    background-color: red;
    padding: 10px 50px;
}