@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans:ital,wght@1,700&family=Roboto+Mono:ital,wght@1,200&family=Roboto:ital,wght@1,100&family=Titillium+Web:wght@300&display=swap');
*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    
}
/* styling header */
.header
{
    min-height: 68vh;
    background-image: url(image/sop1.jpeg);
    background-size: cover;
    background-position: center;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
   background-color: rgba(128, 128, 128, 0.356);
    /* position: relative;
    z-index: 999; */
}
h3
{
    font-weight: 300;
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding-left: 100px;
}
h3 > i
{
    color: orange;
}
.input
{
    width: 600px;
    position: relative;
}
header  input
{
    outline: none;
    width: 500px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px 30px;
    position: relative;
    font-family: 'Titillium Web', sans-serif;
}
header  input:focus
{
    outline: 1px solid blue;

}
.input > label 
{
    position: absolute;
    top: 4px;
    left: 10px;
    
}
header > nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.nav1 
{
    display: none;
}
nav > i
{
    color: white;
}
.nav2
{
    color: white;
}
nav > #heart:hover
{
    color: red;
}
.bag
{
    position: relative;
    color: white;
}
.bag::before
{
    content: attr(number);
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 12px;
    display: grid;
    place-content: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}
.nav2:hover
{
    color:orange;
}
nav > .menu
{
    position: absolute;
    color: orange;
    background-color: white;
    width: 220px;
    right: 0px;
    top: 50px;
    transform: scale(1, 0);
    transition: all 0.3s ease-in;
    transform-origin: top;
}
.menu > p > a
{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.menu > p
{
    padding: 10px 15px;
    border-bottom: 1px solid black;
}
.menu > p >i
{
    color: orange;
}
.menu > p:hover
{
 background-color: rgba(128, 128, 128, 0.322);
}
input:checked ~ .menu
{
transform: scale(1, 1);
}
.info
{
    color: white;
    margin-top: 150px;
    margin-left: -600px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}
.info > h1
{
    font-size: 50px;
}
.info > h2
{
    font-family: 'Titillium Web', sans-serif;
   
}
@media (max-width:950px)and (min-width:900px){
    .header
    {
        background-position: center;
    }
    .info
    {
        margin-top: 200px;
        margin-left: -200px;
    }
}
@media (max-width:900px) and (min-width:550px) {
    h3
    {
        padding-left: 10px;
    }
    .input
    {
        margin-right: 10px;
    }
}
@media (max-width:550px){
    .header
{
    background-position: center;
}
    .input
    {
        display: none;
    }
    h3
    {
        padding-left: 10px;
    }
    .info
    {
        margin-top: 140px;
        margin-left: -100px;
    }
    .info >h1
    {
        font-size: 30px;
    }
}
/* styling header */
/* ----------------------------------- */
/* styling sectione one */
.produit1
{
    padding:10px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contenaire
{
    width: 33%;
    /* height: 400px; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding-right: 40px;
}
.contenaire > img
{
    width: 200px;
    margin-top: 100px;
    margin-top: 10px;

}
.info1 > p
{
    font-size: 30px;
    font-weight: 700;
}
.info1 > a
{
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    cursor: pointer;
}
.one > img
{
    width: 150px;
    margin-left: 20px;
}
.one a
{
    display: inline-block;
    text-align: center;
    margin-left: 40px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 15px;
    cursor: pointer;
}
.two > img
{
    width: 150px;
    margin-left: 20px;
}
@media (min-width:900px) and (max-width:1024px) {
.produit1
{
    padding:20px ;
    /* display: block; */
}
.contenaire
{
    width: 33%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding-right: 40px;
}
.contenaire > img
{
    width: 120px;
    margin-top: 100px;
    margin-top: 10px;
}
.info1 > p
{
    font-size: 25px;
    font-weight: 700;
}
.info1 > a
{
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    margin-top: 5px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 10px;
    cursor: pointer;
}
.two > img
{
    width: 80px;
    margin-left: 20px;
}
}
@media (min-width:600px) and (max-width:900px) {
.produit1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contenaire
{
    width: 70%;
    margin-bottom: 10px;
}
.contenaire > img
{
    width: 300px;
}
.two > img
{
    width: 150px;
}
.one > img
{
    width: 190px;
} 
}
@media (max-width:600px) {
.produit1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contenaire
{
    width: 90%;
    margin-bottom: 10px;
}
.contenaire > img
{
    width: 100px;
}
.two > img
{
    width: 70px;
}
.info1 > p
{
    font-size: 20px;
}
.info1 > a
{
    padding: 5px 5px;
    margin-left: 25px;
}
}
/* ----------------------------------- */
/* styling sectione two */
.produit02
{
    margin-top: 30px;
}
.chapitre1
{
    text-align: center;
}
.chapitre1 P
{
    position: relative;
}
.chapitre1 P::after
{
    content: "";
    position: absolute;
    width: 200px;
    top: 12px;
    margin-left: 5px;
    height: 2px;
    background-color: black;
}
.chapitre1 p::before
{
     content: "";
     position: absolute;
     width: 200px;
     height: 2px;
     top: 12px;
     left:427px;
     background-color: black;

}
.produit2
{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin: 10px auto;
}
.contenaire1
{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    
}
.contenaire1  img
{
    width: 200px;
}
.contenaire1 .image
{
    border: 1px solid #f1f1f1;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenaire1 > .info2
{
    width: 100%;
    text-align: center;
}
.info2 > a
{
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 10px;
    cursor: pointer;
}
.info2 > p
{
    font-weight: 800;
}
.info2 
{
    margin-top: 10px;

}
@media (max-width:1300px) {
.chapitre1 P
{
    position: relative;
}
.chapitre1 P::after
{
    display: none;
}
.chapitre1 p::before
{
display: none;
}
}
@media (max-width:600px) {
.produit2
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.contenaire1
{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 50px;
    
}  
}
/* ----------------------------------- */
/* styling sectione three */
.produit3
{ 
    padding: 20px;
    background-color: #65d5df;
}
.image1
{
    display: flex;
    justify-content: center;
}
.produit3 img
{
    width: 200px;
    margin-right: 20px;
}
.chapitre2
{
    margin-left: 210px;
    margin-bottom: 20px;
}
.chapitre2 > h1
{
    font-size: 40px;
}
@media (max-width:850px) {
.image1
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.produit3 img
{
    margin-bottom: 20px;
}
.chapitre2
{
    margin-left: 20px;
}
.chapitre2 > h1
{
    font-size: 30px;
    
}
}
/* ----------------------------------- */
/* styling sectione four */
.produit5
{
    width: 800px;
    margin: 20px auto;
    /* margin-left: 20px; */
}
.contenaire2
{
  
    display: flex;
    justify-content: space-evenly;
    background-color: #9e9e9e6c;
    box-shadow: 3px 1px 16px 6px rgba(0,0,0,0.34);
    margin-top: 30px;
}
.image0
{
    border-right: 1px solid black;
    
}
.image0 > img
{
    width: 350px;
    margin-left: 20px;

}
.infor
{
    margin-left: 10px;
    margin-bottom: 20px;
}
.desc
{
    position: relative;
    margin-bottom: 40px;
    margin-top: 20px;
}
.desc > h1
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
}
.desc > h3
{
    color: black;
    font-weight: 500;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -100px;

}
.desc > p
{
    width: 350px;
    color: rgba(255, 255, 255, 0.664);
}
.desc > button
{
    position: absolute;
    top: 10px;
    left: 270px;
    background-color:#d0cabe;
    outline: none;
    border: none;
    color: white;
    padding: 5px 10px;
}
.desc2 > h2
{
    font-size: 20px;
    font-weight: 800;
    position: relative;
    margin-bottom: 10px;
}
.desc2 > h2::before
{
    content: "";
    position: absolute;
    width: 25%;
    height: 2px;
    bottom: 0px;
    left: -2px;
    background-color: black;
}
.desc2 > p
{
    color: rgba(255, 255, 255, 0.664);
    width: 90%;
    margin-bottom: 20px;
}
.size > div 
{
    display: flex;
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.size > div > p
{
    color: rgba(255, 255, 255, 0.664);
    border: 1px solid rgba(255, 255, 255, 0.664);
    padding: 10px 20px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.size > div > p:hover
{
    color: black;
    border: 1px solid black;
    transform: scale(1.1);
}
.color
{
    margin-top: 30px;
}
.color > div
{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.color1
{
    width: 30px;
    height: 30px;
    background-color: blue;
    border: 1px solid white;
    border-radius: 50%;
}
.color2
{
    width: 30px;
    height: 30px;
    background-color: rgb(3, 3, 3);
    border: 1px solid white;
    border-radius: 50%;
}
.color3
{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 253, 253);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}
.co
{
    transition: all 0.3s ease-in-out;
}
.co:hover
{
    transform: scale(1.1);
    border: none;
}
.button
{
    width: 500px;
    padding: 20px;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
}
.button > .a1
{
    text-decoration: none;
    color: black;
    border: black 1px solid;
    padding: 10px 50px;
}
.button > .a2
{
    text-decoration: none;
    color: rgb(248, 248, 248);
    /* border: black 1px solid; */
    background-color: red;
    padding: 10px 50px;
}
@media (max-width:900px) {
.contenaire2
{
  
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #9e9e9e6c;
    box-shadow: 3px 1px 16px 6px rgba(0,0,0,0.34);
    margin-top: 30px;
    width: 70%;
}
.produit5
{
    width: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image0
{
    border-bottom: 1px solid black;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.button
{
    display: flex;
    justify-content: center;
}
.button >  .a1
{
    padding: 5px 20px;
    margin: 20px;
}
.button >  .a2
{
    padding: 5px 20px;
    margin: 20px;
}
.image0 > img
{
    width: 150px;
    margin-left: 20px;
}
.desc
{
    position: relative;
    margin-bottom: 40px;
    margin-top: 20px;
}
.desc > h1
{
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    font-size: 20px;
}
.desc > h3
{
    color: black;
    font-weight: 500;
    margin-top: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 0px;

}
.desc > p
{
    width: 70%;
    color: rgba(255, 255, 255, 0.664);
}
.desc > button
{
 display: none;
}
.size > div 
{
    display: flex;
    width: 40%;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.size > div > p
{
    color: rgba(255, 255, 255, 0.664);
    border: 1px solid rgba(255, 255, 255, 0.664);
    padding: 5px 10px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.button
{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button > .a1
{
    text-decoration: none;
    color: black;
    border: black 1px solid;
    padding: 5px 20px;
}
.button > .a2
{
    text-decoration: none;
    color: rgb(248, 248, 248);
    background-color: red;
    padding: 5px 10px;
}
.desc2 > h2::before
{
    width: 33%;
}
}
@media (max-width:900px) {

}
@media (max-width:350px) {
.size > div 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
    
}
/* ----------------------------------- */
/* styling sectione five */
.email
{
    color: white;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.email > p
{
    margin-bottom: 20px;
    color: rgba(128, 128, 128, 0.685);
}
.sub
{
    margin-top: 10px;
    width: 40%;
}
.sub > input
{
    width: 70%;
    margin-left: 80px;
    padding-left: 10px;
    height: 50px;
    outline: none;
    transition:all 0.3s ease-in-out;
}
.sub > input:focus
{
    outline: 1px solid red;
}
.sub > label
{
    background-color: red;
  padding: 14px 4px;
  transition: all 0.3s ease-in-out;
}
.sub > label:hover
{
    background-color:green;

}
@media (max-width:1024px) {
    .sub > input
    {
        width: 50%;
        margin-left: 80px;
        padding-left: 10px;
        height: 50px;
        outline: none;
        transition:all 0.3s ease-in-out;
    }
    .sub > label
{
    background-color: red;
  padding: 12px 4px;
  transition: all 0.3s ease-in-out;
}
}
@media (max-width:500px) {
    .sub
{
    width: 100%;
}
.sub > input
{

    margin-left: 50px;
}  
}
@media (max-width:900px) and (min-width:500px) {
.sub > input
{

    margin-left: 60px;
}  
}
@media (max-width:300px)  {
    .sub > input
    {
        width: 60%;
        margin-left: 10px;
        padding-left: 10px;
        height: 50px;
        outline: none;
        transition:all 0.3s ease-in-out;
    }
    .sub > label
{
    background-color: red;
     padding: 10px 2px;
    transition: all 0.3s ease-in-out;
} 
.sub
{
    margin-top: 10px;
    width: 100%;
    display: flex;
}
}
/* ----------------------------------- */
/* styling sectione footer */
footer
{
    background-color: #65d5df;
    z-index: 9999;
}
.icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 20px;
}
.icon > i
{
    margin-right: 20px;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}
.icon > i:hover
{
   transform: translateY(-20px);
   color: green;
}
.footer1
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.footer1 > a
{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}
.footer1 > a:hover
{
    color: green;
}
footer > p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
